:root {
    --main-color: hsl(229, 82%, 50%);
    --secondary-color: #18bce9;
    --bg-color: #0E1636;
    --sec-bg-color: #0d1220;
    --primary-gd: linear-gradient(360deg, var(--main-color), var(--secondary-color));
  }
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'varelaRound';
    font-size: 16px;
    line-height: 1.5;
  }
*{
  scroll-behavior: smooth;
}
  .selector-for-some-widget {
  box-sizing: content-box;
}

/* Global elements start */
iconify-icon {
  font-size: 2.5rem;
  border-radius: 30px;
  background-color: var(--bg-color);
  padding: 0.5rem;
  box-shadow: 0px 0px 4px 0px black;
  cursor: pointer;
}
iconify-icon:active {
  box-shadow: 0px 0px 4px 0px var(--main-color);
}
.social-bar {
  display: flex;
  justify-content: center;
}
.social-link {
  padding: 0 1rem;
}
.social-link a {
  font-size: 26px;
  color: var(--main-color);
  transition: 0.2s;
}
.social-link a:hover {
  filter: drop-shadow(2px 4px 6px black);
}
.bt {
  color: white;
  background-image: var(--primary-gd);
  padding: 0.7rem 0.9rem;
  transition: 0.5s;
  margin: 1rem 2rem;
  border-radius: 30px;
}
.bt:hover {
  box-shadow: 0 0 10px #2f51eb;
  scale: 1.05;
}
.text-link {
  color: white;
}
.text-link:hover {
  color: var(--main-color);
}
section {
  padding: 2rem;
}
section h2 {
  width: fit-content;
  font-family: 'Monsterrat';
  font-size: 2rem;
  letter-spacing: 1.3px;
  margin: auto;
  position: relative;
  text-align: center;
}
section h2::after {
    content: '';
    display: block;
    width: 110%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0%;
    border: none;
    border-radius: 20px;
    border-right: 4px solid var(--main-color);
    border-left: 4px solid var(--main-color);
}
section .container {
  margin: 2.5rem auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  padding: 0 3rem;
}
.callout {
  background-color: hsl(229deg 82% 55% / 17%);
  width: 100%;
  padding: 2.5rem 1.5rem;
  font-size: 1.3rem;
  font-style: italic;
  font-weight: bold;
}
.preload {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; 
  display: flex;  
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  background-image: url('imgs/sl_031420_28950_10.png');
  position: fixed;
  z-index: 1000;
}
.preload-finish {
    opacity: 0;
    pointer-events: none;
    transition-delay: 1s;
}

.loader {
    color: var(--secondary-color);    
    font-family: Consolas, Menlo, Monaco, monospace;
    font-weight: bold;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader span {
  display: inline-block;
  animation: pulse 0.4s alternate infinite ease-in-out;
}
.loader span:nth-child(odd) {
  animation-delay: 0.4s;
  font-size: 1.5rem;
}

@keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}
/* Gloabl elements end */


  @font-face {
  font-family: varelaRound;
  src: url(Fonts/VarelaRound-Regular.ttf);
}
  @font-face {
    font-family: Monsterrat;
    src: url(Fonts/Montserrat-VariableFont_wght.ttf);
  }
  
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

/* header start */
header {
    height: 100vh;
    background-color: hsl(0deg 0% 0% / 45%);
    background-image: url('imgs/sl_031420_28950_10.png'), url(imgs/Team.jpeg);
    background-size: cover;
    background-position: center;
    background-blend-mode: color-dodge;
}
nav {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: hsl(0deg 0% 0% / 40%);
}

nav .logo {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .logo img {
    height: 100%;
    width: 100%;
}
nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}
nav ul li {
    padding: 0 0.7rem;
}
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown:hover .dropbtn {
  color: var(--main-color);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: hsl(0deg 0% 0% / 70%);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #ddd;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: cornflowerblue;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.nav-extra {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-extra i.discord.fa-brands.fa-discord {
  font-size: 1.5rem;
  color: var(--secondary-color);
}
/* hero-section */
header .hero-section {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  padding-top: 10vh;
}
header .hero-section .hero-content {
  padding: 1.5rem 0;
  width: 30rem;
  text-align: center !important;
}
header .hero-section .hero-content h1{
  font-size: 2.2rem;
  letter-spacing: 3px;
}
.community {
  margin: 0;
  color: white;
  position: absolute;
  width: 280px !important;
  left: 50%;
  font-size: 13px;
  bottom: 5px;
  translate: -50%;
  text-align: center !important;
  padding: 0.4rem;
  background-image: var(--primary-gd);
  animation: beat 1s ease-in-out 0.5s infinite;
  border-radius: 30px;
}
.discord {
  animation: rotate 1s ease-in-out 0.5s infinite;
  color: var(--main-color);
}
@keyframes rotate {
  from{
    rotate: 0deg;
  }
  to{
    rotate: -30deg;
  }
}
.hero-section .hero-stats {
  height: 220px;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
.hero-section .hero-stats div {
  height: 140px;
  width: 140px;
  background-image: var(--primary-gd);  
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-transform: uppercase;
  box-shadow: 0 0 10px #2f51eb;
  transition: all 0.5s;
  animation: beat 1s ease-in-out 0.5s infinite;
}
@keyframes beat {
  from{
    scale: 1;
  }
  to{
    scale: 1.05;
  }
}
.hero-section .hero-stats div span {
  font-size: 1.4rem;
}
/* header end */

/* Why us start */
#why-us {
  background-color: var(--sec-bg-color);
}
#why-us .container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}
#why-us .container p {
  margin: 0;
  width: 50%;
  text-align: justify;
}
#why-us .container .headers {
  font-family: 'Monsterrat';
  font-weight: 900;
  letter-spacing: 1.3px;
  border: none;
  padding: 0 1rem;
  border-left: 2px solid var(--main-color);
  background-color: hsl(229deg 82% 55% / 5%);
}
.slider {
    position: relative;
    background: #000116;
    width: 47%;
    height: 420px;
    margin: 20px;
    overflow: hidden;
    border-radius: 10px;
}

.slider .slide{
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: circle(0% at 0 50%);
}

.slider .slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s;
}

.slider .slide img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider .slide .info{
  display: none;
  position: absolute;
  color: #222;
  background: rgba(255, 255, 255, 0.3);
  width: 75%;
  margin-top: 50px;
  margin-left: 50px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 5%);
}

.slider .slide .info h2{
  font-size: 2em;
  font-weight: 800;
}

.slider .slide .info p{
  font-size: 1em;
  font-weight: 400;
}

.navigation{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.1s ease;
}

.slider:hover .navigation{
  opacity: 1;
}

.prev-btn, .next-btn{
  z-index: 999;
  font-size: 2em;
  color: #222;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  cursor: pointer;
}

.prev-btn{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.next-btn{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.navigation-visibility{
  bottom: 2px;
  z-index: 999;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  translate: -50%;
}

.navigation-visibility .slide-icon{
  z-index: 999;
  background: rgba(255, 255, 255, 0.5);
  width: 20px;
  height: 10px;
  transform: translateY(-50px);
  margin: 0 6px;
  border-radius: 2px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
}

.navigation-visibility .slide-icon.active{
  background: #4285F4;
}

@media (max-width: 900px){
  .slider{
    width: 100%;
  }

  .slider .slide .info{
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 500px){
  .slider .slide .info h2{
    font-size: 1.8em;
    line-height: 40px;
  }

  .slider .slide .info p{
    font-size: 0.9em;
  }
}

/*css for automatic navigation*/

.navigation-auto{
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #40D3DC;
}
/* .gallery {
  width: 500px;
  height: 400px;
  position: relative;
}
.gallery .slider-wrapper {
  width: 100%;
  height: 100%;
}

.gallery .slider {
  display: flex;
  aspect-ratio: 16 / 9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 2px 2px 4px black;
}

.gallery .slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;

}
.gallery .slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.gallery .slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}
.gallery .slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
} */
/* Why us end */

/* tracks start */
#tracks {
  background-color: var(--bg-color);
}
#tracks .container {
  justify-content: space-evenly !important;
}
#tracks .container .card {
  color: #fff;
}
#tracks .container .card .face {
  width: 300px;
  height: 200px;
  transition: 0.5s;
}
.container .card .face.face-1 {
  background-color: var(--bg-color);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
  border-bottom: 2px solid var(--main-color);
}
.container .card:hover .face.face-1 {
  transform: translateY(0);
}
.container .card .face.face-1 .content {
  opacity: 0.2;
  transition: 0.5s;
  flex-direction: column;
  display: flex;
  align-items: center;
}
.container .card:hover .face.face-1 .content {
  opacity: 1;
}
.container .card .face.face-1 .content h3 {
  margin: 10px 0 0;
  padding: 0;
  text-align: center;
  text-transform: capitalize;
  font-size: 1.5em;
}
.container .card .face.face-1 .content img {
  max-width: 100px;
}
.container .card .face.face-2 {
  text-align: center;
  flex-direction: column;
  background-color: var(--main-color);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0,0,0,0.8);
  transform: translateY(-100px);
}
#tracks .container .card:hover .face.face-2 {
  transform: translateY(0);
}
#tracks .container .card .face.face-2 p {
  padding: 0;
  margin: 0;
}
.track-stats {
  display: flex;
  width: 100%;
  margin-top: 8px;
  justify-content: space-evenly;
}
.track-stats li {
  color: #fff;
  transition: 0.5s;
  background-color: hsl(0deg 0% 0% / 50%);
  border-radius: 12px;
  padding: 2px 4px;
}
/* tracks end */

/* Articles start */
#articles {
  background-color: var(--sec-bg-color);
}
#articles .container {
  display: flex;
}
#articles .container .cards-article-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  margin: 20px 0;
}
.cards-article-grid .article-card .card-top img {
  display: block;
  width: 100%;
}
.article-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bg-color);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0 0 0 / 20%);
  transition: 0.5s;
}
.article-card:hover {
  box-shadow: 0 0 10px #2f51eb;
  scale: 1.01;
}
.article-card .card-top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}
.article-card .card-info h3 {
  font-size: 20px;
  margin: 10px 0 2px 0;
}
.article-card .card-info {
  color: #fff;
}
.article-card .card-info .intro {
  color: #909090;
  max-height: 140px;
  overflow: hidden;
}
.article-card .card-info .date {
  margin-bottom: 10px;
}
.article-card .card-info span {
  font-size: 12px;
  display: block;
}
.article-card .card-info p {
  font-size: 15px;
  display: block;
}
.article-card .card-bottom {
  margin-top: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.read-more {
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    border-radius: 30px;
    background-color: var(--main-color);
    padding: 8px 8px;
    text-wrap: nowrap;
    color: #fff;
    font-size: 12px;
    margin: 0 15px;
}

.track-tag {
  text-wrap: nowrap;
  color: #fff;
  transition: 0.5s;
  background-color: hsl(0deg 0% 0% / 50%);
  border-radius: 12px;
  padding: 4px 8px;
  margin: 0 15px;
  text-transform: capitalize;
}
.track-tag:hover {
  color: var(--main-color);
}
/* Articles end */

/* Projects start */
#projects {
  background-color: var(--sec-bg-color);
}
#projects .container {
  display: flex;
  justify-content: space-around;
}
.project-card {
  margin: 1.5rem 0;
  padding: 2rem 1rem;
  background-color: var(--bg-color);
  position: relative;
  display: flex;
  width: 320px;
  align-items: flex-end;
  box-shadow: 2px 2px 10px black;
  transition: 0.5s ease-in-out;
}
.project-card:hover {
  transform: translateY(20px);
}
.project-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: var(--primary-gd);
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
}
.project-card:hover::before{
  opacity: 0.9;
}
.project-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
}
.project-card h4 {
  font-size: 1.5rem;
  margin: 1rem 0;
  text-shadow: 2px 2px black;
}
.project-card .info {
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;
}
i.fa-solid.fa-user {
  margin: 0 8px;
}
.project-card:hover .info {
  opacity: 1;
  transform: translateY(0px);
}
.project-card .social-link a {
  color: var(--sec-bg-color);
}
/* Projects end */

/* team section start */
.our_team {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
}
.our_team .team-info {
  width: 50%;
}
.team-info h3 {
  font-family: 'Monsterrat';
  font-weight: 900;
  letter-spacing: 1.3px;
  border: none;
  padding: 0 1rem;
  border-left: 2px solid var(--main-color);
  background-color: hsl(229deg 82% 55% / 5%);
}
.team-info p {
  text-align: justify;
}
.team-container {
  padding: 2rem 0;
}
.swiper {
  position: relative;
  width: 240px;
  height: 320px;
}

.swiper-slide {
  border-radius: 18px;
  width: 270px !important;
  height: 360px !important;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 18px;
}
.swiper-container {
  width: 280px;
  height: 440px;
}

.swiper-slide {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  position: relative;
}
.swiper-slide::after {
  content: '';
  display: block;
  width: 100%;
  height: 60px;
  background-color: var(--bg-color);
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.6;
} 
.swiper-slide p {
  width: 100%;
  position: absolute;
  bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  margin: auto;
  font-size: 16px;
  font-weight: 300;
  flex-direction: column;
}
.swiper-slide p span {
  display: block;
  font-size: 12px;
}

/* team section end */

/* Footer Start */
footer {
  background-color: var(--sec-bg-color);
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
footer .upper-footer {
  display: flex;
    justify-content: space-evenly;
    height: 160px;
    align-items: center;
}
footer .upper-footer .footer-logo {
  width: 80px;
  height: 80px;
}
footer .upper-footer .footer-hyperlinks {
  display: flex;
  justify-content: space-between;
}
footer .upper-footer .footer-hyperlinks ul {
  padding: 0 1rem;
}
footer .upper-footer .footer-hyperlinks ul li {
  margin: 8px 0;
}
/* .footer-hyperlinks ul li a {
  font-size: 1rem;
  color: #fff;
} */
.subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}
.extra-contact ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.extra-contact ul li {
  display: flex;
  align-items: center;
}
.extra-contact a {
  margin: 0 1rem;
  color: #fff;
}
footer .lower-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Footer end */
